.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 57px;
  background-color: #f48023;
  height: auto;
}
.main-header a.active {
  background: #141a33;
}
.main-header a {
  font-weight: 300;
  font-size: 15px;
  border-radius: 0px;
  color: #fff;
}
.main-header a.ant-btn:hover {
  color: #fff;
  background: #141a33;
}
.main-header img {
  width: 180px;
}
.main-header .img_profile {
  width: 25px;
}
.active-button {
  border-radius: 0px !important;
  padding: 2px 5px !important;
  background: #141a33;
}
@media only screen and (max-width: 768px) {
  .main-header .nav-links {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .nav-links {
    list-style-type: none;
    padding: 15px 0px;
  }
  .nav-links a {
    font-weight: 300;
    font-size: 16px;
    border-radius: 0px;
    color: #fff;
    display: block;
    width: 100%;
    text-align: left;
  }
  .nav-links a:hover {
    color: #fff;
    background: #141a33;
  }
}
@media only screen and (min-width: 768px) {
  .mobile-sidenav {
    display: none;
  }
}
::ng-deep.ant-layout-sider-zero-width-trigger {
  background-color: #141a33;
  top: 80px;
}
.mobile-sidenav.ant-layout-sider {
  position: fixed;
  top: 0px;
  background: #f48023;
  height: 100vh;
  z-index: 999;
}
.ant-layout.ant-layout-has-sider {
  flex-direction: column;
}
::ng-deep.ant-dropdown-link {
  padding-left: 15px;
  padding-right: 15px;
}
::ng-deep.ant-menu-dark.ant-menu-inline .ant-menu-item {
  padding: 0px !important;
}
.main-header-admin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 57px;
  background-color: #f48023;
  height: auto;
}
.main-header-admin img.logo {
  width: 100px;
}
.main-header-admin .img_profile {
  width: 25px;
}
.trigger {
  width: 30px;
  height: 30px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  background-color: transparent;
}
.profile-avatar {
  text-align: center;
  border-bottom: 1px solid #34373c;
  margin-bottom: 30px;
}
.profile-avatar h3 {
  font-weight: 600;
  font-size: 16px;
  color: #808191;
  margin: 19px 0px 30px;
}
.user-profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0px auto;
}
.user-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media only screen and (max-width: 991px) {
  .sidebar-component-display {
    display: none;
  }
}
.sidebar-logo {
  min-height: 64px;
  margin-bottom: 20px;
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
}
.sidebar-logo-mobile {
  min-height: 64px;
  margin-bottom: 20px;
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
}
.sidebar-component {
  padding: 0px 40px 0px;
  background: #f48023;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
}
.sidebar-component .ant-menu-inline, .sidebar-component .ant-menu-vertical, .sidebar-component .ant-menu-vertical-left {
  border-right: 0px;
}
.sidebar-component .ant-menu {
  background-color: transparent;
}
.sidebar-component .ant-menu-submenu {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #808191;
  margin: 0px;
  padding: 0px !important;
}
.sidebar-component .ant-menu-item {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #808191;
  margin: 0px;
  padding: 0px !important;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.sidebar-component .ant-menu-item:hover {
  color: #fff;
}
.sidebar-component .ant-menu-item:hover .anticon {
  background-color: #ff7800;
}
.sidebar-component .ant-menu-item::after {
  display: none;
}
.sidebar-component .ant-menu-item.ant-menu-item-selected {
  color: #fff;
  background-color: transparent;
}
.sidebar-component .ant-menu-item .anticon {
  min-width: 32px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}
.inner-content {
  background: #fdfdfd;
  min-height: calc(100vh - 0px);
}
.user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .user-profile {
    margin-top: 20px;
  }
}
.user-profile .ant-avatar {
  width: 39px;
  height: 39px;
  margin-right: 10px;
}
.user-profil-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-profil-action .profile-account-trigger a {
  font-weight: 600;
  font-size: 16px;
  color: #5370bd;
  display: flex;
  align-items: center;
}
.user-profil-action .profile-account-trigger a span {
  width: 100px;
  white-space: nowrap;
  overflow: hidden !important;
  display: block;
}
.user-account {
  display: flex;
  align-items: center;
}
::ng-deep .ant-menu-item:active, ::ng-deep .ant-menu-submenu-title:active, ::ng-deep .ant-menu-submenu > .ant-menu {
  background-color: transparent;
}
::ng-deep .ant-menu-light .ant-menu-item:hover {
  color: #fff;
}
::ng-deep .sidebar-component .ant-menu-item-selected {
  color: #fff;
  background-color: transparent;
}
::ng-deep .sidebar-component .ant-menu-item-selected:focus, ::ng-deep .sidebar-component .ant-menu-item-selected:visited, ::ng-deep .sidebar-component .ant-menu-item-selected:active {
  background-color: transparent;
}
::ng-deep .sidebar-component .ant-menu-item-selected .anticon {
  background-color: #ff7800;
}
::ng-deep .sidebar-component.ant-layout-sider-collapsed {
  padding: 20px 0px;
}
::ng-deep .sidebar-component.ant-layout-sider-collapsed .ant-menu-item {
  padding: 0px 19px !important;
}
::ng-deep .sidebar-component.ant-layout-sider-collapsed .ant-menu-item .anticon {
  margin: 0px auto !important;
}
::ng-deep .sidebar-component.ant-layout-sider-collapsed .profile-avatar {
  display: none;
}
::ng-deep .sidebar-component.ant-layout-sider-collapsed .sidebar-logo {
  background-size: 50%;
  background-position: center top -3px;
}
::ng-deep .inner-content .layout-header {
  background-color: #fff;
  border-bottom: 1px solid #ebeff2;
  position: relative;
  min-height: 90px;
  height: initial;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  ::ng-deep .inner-content .layout-header {
    flex-direction: column;
    padding: 15px;
  }
}
::ng-deep .ant-menu-light .ant-menu-item-active, ::ng-deep .ant-menu-light .ant-menu-item:hover, ::ng-deep .ant-menu-light .ant-menu-submenu-active, ::ng-deep .ant-menu-light .ant-menu-submenu-title:hover, ::ng-deep .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
  color: #fff !important;
}
.mobile-sidebar {
  position: fixed;
  top: 0px;
  background: #f48023;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
  height: 100vh;
  z-index: 999;
}
@media only screen and (min-width: 992px) {
  .mobile-sidebar {
    display: none;
  }
}
::ng-deep .mobile-sidebar .ant-layout-sider-zero-width-trigger {
  background: #f48023;
  border-radius: 0px 5px 5px 0px;
  opacity: 1;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f48023;
  padding: 0px;
}
img.logo {
  width: 100px;
}
@media only screen and (min-width: 992px) {
  .main-header .header-logo {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .main-header .trigger {
    display: none;
  }
  .main-header .header-logo {
    width: 100px;
  }
}

