.child {
  padding: 20px;
  width: 400px;
  background-color: white;
  background: white;
  box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
// padding-bottom: 10px;

}

.row {
  padding: 30px;
  width: 500px;
  background-color: white;
  background: white;
// box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

}

i {
  font-size: 20px;
  font-weight: bold;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

tr {
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

p {
  margin-bottom: 0em;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2:hover {
  text-decoration-line: underline;
}

.pagination {
  width: 780px;

  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  margin-top: 20px;

}

button {

  outline: 0;
  border: 0;
  background: none;
  border: 1px solid #d9d9d9;
  padding: 8px 0px;
  color: #515151;
  text-transform: uppercase;
  width: 125px;
  font-family: inherit;
  margin-right: 5px;
  transition: all 0.3s ease;
  font-weight: 500;
}
button:hover {

// background: darken(white, 2%);
  border: 1px solid #aedaa6;
  color: #aedaa6;
  cursor: pointer;

}

.place-order{

  margin: 2%;
  background: #dead4a;
  padding: 1%;
  width: 20%;

}
