<div style="background-color: #F8F8F8; min-height: 91vh;">

  <div style="padding-top: 10px;"></div>

  <div style="margin-top:10px;" class="child" *ngFor="let product of products">
    <div nz-row>
      <div nz-col nzSpan="8">
        <img class="profile"
             [src]="product.processedImg" alt="profile" />
      </div>
      <div class="description-container" nz-col nzSpan="16">

        <h2>{{product.name}}</h2>
        <hr style="color: #515151"/>
        <p>{{product.description}}</p>
        <h5>price: $ {{product.price}},-</h5>
        <h5>rating: ({{product.rating}}/5)</h5>
        <h5>Products left: {{product.availableQuantity}}</h5>
        <h5>From catagory: {{product.categoryName}} </h5>

        <div class="button-container" style="float: right;">
          <button
                  (click)="addToCart(product.id)" >Add to Cart</button>
        </div>
      </div>

    </div>
  </div>
</div>
